<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Update todo</title>
</head>
<body>
<form class="form-inline" action="#" th:action="@{edit}" th:object="${todo}" method="post">
    <label for="description">Update Todo:</label>
    <input type="text" class="form-control mx-sm-3"
           id="description" th:field="*{title}" th:required="required"/><br>
    <div class="input-group-text">
        <input type="checkbox" th:field="*{urgent}" th:checked="*{urgent}"/>Urgent<br>
    </div>
    <div class="input-group-text">
        <input type="checkbox" th:field="*{done}" th:checked="*{done}"/>Done<br>
    </div>
    <div>
        <select th:field="*{assignee}">
            <option value=""> --- </option>
            <option th:each="assignee : ${assignees}"
                    th:value="${assignee.assigneeId}"
                    th:text="${assignee.name}" />
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
<p>
    <a th:href="@{/todo/}">Back to todolist</a>
</p>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>