<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>TODO CRUD App</title>
</head>
<body>
<h1 class="text-center" th:text="'TODOS FOR TODAY'"/></h1>
<h3 class="text-center">
    <a class="label label-success" th:href="@{/todo/add}">Add new todo</a>
    <a class="label label-info" th:href="@{/todo/assignees}">List of assignees</a>
</h3>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
        <th>DONE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tr th:each="todo : ${result}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td>
            <a class="label label-danger" th:href="@{/todo/{id}/delete(id=${todo.id})}">delete</a>
        </td>
        <td>
            <a class="label label-primary " th:href="@{/todo/{id}/edit(id=${todo.id})}">update</a>
        </td>
    </tr>
</table>
<p>
    <a th:href="@{/todo/}">Back to todolist</a>
</p>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>