<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Information view</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<div>
    <div>
        <img th:src="@{greenfox.png}">
    </div>
    <div th:object="${fox}">
        <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} +
        '. He knows ' + ${fox.listOfTricks.size()} + ' tricks.'">
        </p>
    </div>
    <div>
        <h1>Known tricks</h1>
        <ul>
            <li>
                write HTML
            </li>
            <li>
                code in Java
            </li>
        </ul>
    </div>
</div>
</body>
</html>